<!--
  Generated template for the BuyersInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{buyer | fullName:true}}</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="info">
        Personal Info
      </ion-segment-button>
      <ion-segment-button value="lots">
        Owned Lots
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="option">
    <buyer-form *ngSwitchCase="'info'" [showBuyerID]="true" [buyer]="buyer"></buyer-form>
    <ion-list *ngSwitchCase="'lots'">
      <button ion-button clear item-end round (click)="openAddBuyerLot(buyerLot)">Add Lots</button>
      <ion-item *ngFor="let lot of lots">
        <p>
          <span><b>Lot ID:</b> {{ lot.lotID }}</span>
          <span><b>Lot Type:</b> {{ lot.lotType }}</span>
        </p>
        <p>
          <span><b>Phase:</b> {{ lot.phase }}</span>
          <span><b>Block:</b> {{ lot.block }}</span>
          <span><b>Section:</b> {{ lot.section }}</span>
          <span><b>Lot No:</b> {{ lot.lotNo }}</span>
        </p>
        <button ion-button item-end (click)="openBuyerOptions(lot)">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>