buyer-form {

    .address-group {
        margin-top: 20px;
        border: 1px solid $black;

        .jgs-item-divider {
            background: $keppel;
            font-weight: bolder;
            color: $white;
        } 
    }
}
