<form [formGroup]="rForm" (ngSubmit)="submitForm(rForm.value)" #addBuyerForm="ngForm">
  <ion-list>
    <ion-item *ngIf="showBuyerID">
      <ion-label floating>Buyer ID</ion-label>
      <ion-input type="text" formControlName="buyerID" [readonly]=true></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('firstName') && isFormSubmitted()">
      First name is required
    </div>
    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input type="text" formControlName="middleName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('middleName') && isFormSubmitted()">
      Middle name is required
    </div>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('lastName') && isFormSubmitted()">
      Last Name is required
    </div>
    <ion-item>
      <ion-label floating>Mobile No.</ion-label>
      <ion-input type="number" formControlName="mobileNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('mobileNo') && isFormSubmitted()">
      Mobile number is required. Should be 11 characters
    </div>
    <ion-item>
      <ion-label floating>Landline No.</ion-label>
      <ion-input type="number" formControlName="landlineNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('landlineNo') && isFormSubmitted()">
      Landline number is required. Should be 7 characters
    </div>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('email') && isFormSubmitted()">
      Email is required
    </div>
    <ion-item>
      <!-- @TODO: use date picker when on web -->
      <!-- @TODO: only 18 yrs old and above -->
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthDate"></ion-datetime>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('birthDate') && isFormSubmitted()">
      Date of Birth is required
    </div>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('gender') && isFormSubmitted()">
      Gender is required
    </div>
    <ion-item>
      <ion-label>Civil Status</ion-label>
      <ion-select formControlName="civilStatus">
        <ion-option *ngFor="let civilStatus of civilStatuses" value="{{civilStatus.key}}">{{civilStatus.description}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('civilStatus') && isFormSubmitted()">
      Civil status is required
    </div>
    <ion-item *ngIf="married">
      <ion-label floating>Spouse</ion-label>
      <ion-input type="text" formControlName="spouse"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="married && !isFieldValid('spouse') && isFormSubmitted()">
      Spouse is required
    </div>

    <!-- Home Address -->
    <ion-item-group class="address-group">
      <ion-item-divider class="jgs-item-divider">Home Address</ion-item-divider>
      <ion-item>
        <ion-label floating>Lot No.,Street,Subd.</ion-label>
        <ion-input type="text" formControlName="homeAddressLine1"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeAddressLine1') && isFormSubmitted()">
        Address Line 1 is required. Minimum of 10 characters
      </div>
      <ion-item>
        <ion-label floating>Apt/Suite/Floor/Room No.</ion-label>
        <ion-input type="text" formControlName="homeAddressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Barangay</ion-label>
        <ion-input type="text" formControlName="homeBarangay"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeBarangay') && isFormSubmitted()">
        Barangay is required. Minimum of 5 Characters
      </div>
      <ion-item>
        <ion-label floating>Province</ion-label>
        <ion-select formControlName="homeProvince">
          <ion-option *ngFor="let province of provinces">{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeProvince') && isFormSubmitted()">
        Province is required
      </div>
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-select formControlName="homeCity">
          <ion-option *ngFor="let city of homeCities">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeCity') && isFormSubmitted()">
        City is required
      </div>
      <ion-item>
        <!-- @TODO: list all postcodes in PH -->
        <ion-label floating>Postal/ZIP Code</ion-label>
        <ion-input type="number" formControlName="homePostalCode"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homePostalCode') && isFormSubmitted()">
        Postal/ZIP code is required. Should be 4 characters
      </div>
    </ion-item-group>

    <!-- Mail Address Address -->
    <ion-item-group class="address-group">
      <ion-item-divider class="jgs-item-divider">Mailing Address</ion-item-divider>
      <ion-item>
        <ion-label>Same as above</ion-label>
        <ion-checkbox color="dark" formControlName="sameAsAbove"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label floating>Lot No.,Street,Subd.</ion-label>
        <ion-input type="text" formControlName="mailAddressLine1"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('mailAddressLine1') && isFormSubmitted()">
        Address Line 1 is required. Minimum of 10 characters
      </div>
      <ion-item>
        <ion-label floating>Apt/Suite/Floor/Room No.</ion-label>
        <ion-input type="text" formControlName="mailAddressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Barangay</ion-label>
        <ion-input type="text" formControlName="mailBarangay"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('mailBarangay') && isFormSubmitted()">
        Barangay is required. Minimum of 5 Characters
      </div>
      <ion-item>
        <ion-label floating>Province</ion-label>
        <ion-select formControlName="mailProvince">
          <ion-option *ngFor="let province of provinces">{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('mailProvince') && isFormSubmitted()">
        Province is required
      </div>
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-select formControlName="mailCity">
          <ion-option *ngFor="let city of mailCities">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('mailCity') && isFormSubmitted()">
        City is required
      </div>
      <ion-item>
        <ion-label floating>Postal/ZIP Code</ion-label>
        <ion-input type="number" formControlName="mailPostalCode"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('mailPostalCode') && isFormSubmitted()">
        Postal/ZIP code is required. Should be 4 characters
      </div>
    </ion-item-group>

    <button ion-button type="submit" block>Submit</button>
  </ion-list>
</form>