<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <!-- <img src="http://placehold.it/300x200"/> -->
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input type="text" placeholder="Email" name="username" [(ngModel)]="registerCredentials.username" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit"[disabled]="!registerForm.form.valid">Login</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>