page-login {

   .login-content {
    background-image: url("../../assets/imgs/jgs-gate2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;     

     .logo-row {
       padding-top: 50px;
       padding-bottom: 20px;
     }
     ion-row {
        align-items: center;
        text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid $white;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: $white !important;
       box-shadow: none !important;
     }

     .submit-btn {
         background: $puertorico;
         border-radius: 30px !important;
         border: 1px solid $white;
     }

     .register-btn {
         color: $white;
         font-size: 0.8em;
     }
   }

}
