<!--
  Generated template for the AgentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Agents</ion-title>
  </ion-navbar>
  <ion-item>
    <button ion-button item-right round (click)="openAddAgent(agent)">
      <ion-icon name="md-person-add"></ion-icon>
    </button>
  </ion-item>
</ion-header>


<ion-content padding>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let agent of agents">
      <ion-avatar item-start>
        <img [src]="agent.photo || temporaryPhoto">
      </ion-avatar>
      <p [innerHTML]="agent.agentID"></p>
      <h2 [innerHTML]="agent | fullName"></h2>
      <button ion-button clear item-end (click)="openAgentInfo(agent)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>