<!--
  Generated template for the LotInventoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>{{ lotType }} PH {{ phase }} BLK {{ block }} {{ section }} {{ lotNo }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  //Consider creating a new component
</ion-content>
