<!--
  Generated template for the AddBuyerLotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Add New Lot</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <buyer-info-component [buyer]="buyer"></buyer-info-component>  
  <lot-form-component [showAgent]="true" [buyer]="buyer" [buyerLotPage]="true"></lot-form-component>
</ion-content>