<!-- Generated template for the PaymentHistoryFormComponent component -->
<table class="table table-dark table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th *ngIf="!isApp">PR. No</th>
      <th *ngIf="!isApp">OR. No</th>
      <th *ngIf="!isApp">Payment For</th>
      <th>Amount Paid</th>
      <th *ngIf="!isApp">Penalty</th>
      <th *ngIf="!isApp">Balance</th>
      <th *ngIf="!isApp">Paid Commission</th>
      <th *ngIf="isApp">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments let first = first;">
      <td [innerHTML]="payment.paymentDate"></td>
      <td *ngIf="!isApp" [innerHTML]="payment.prNo"></td>
      <td *ngIf="!isApp" [innerHTML]="payment.orNo"></td>
      <td *ngIf="!isApp" [innerHTML]="payment.pymtFor"></td>
      <td [innerHTML]="payment.amtPaid"></td>
      <td *ngIf="!isApp" [innerHTML]="payment.penalty"></td>
      <td *ngIf="!isApp" [innerHTML]="payment.balance"></td>
      <td *ngIf="!isApp">
        <button *ngIf="payment.paidCommission" ion-button clear item-end>
          <ion-icon name="cash"></ion-icon>
        </button>
      </td>
      <td *ngIf="isApp">
        <button ion-button clear item-end>
          <ion-icon name="more"></ion-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>