<!--
  Generated template for the AddBuyerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Add New Buyer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <buyer-form [showBuyerID]="false"></buyer-form>
</ion-content>