<!-- Generated template for the AgentFormComponent component -->
<form [formGroup]="rForm" (ngSubmit)="submitForm(rForm.value)" #addAgentForm="ngForm">
  <ion-list>
    <ion-item *ngIf="showAgentID">
      <ion-label floating>Agent ID</ion-label>
      <ion-input type="text" formControlName="agentID" [readonly]=true></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('firstName') && isFormSubmitted()">
      First Name is required
    </div>
    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input type="text" formControlName="middleName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('middleName') && isFormSubmitted()">
      Middle Name is required
    </div>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('lastName') && isFormSubmitted()">
      Last Name is required
    </div>
    <ion-item>
      <ion-label floating>Nick Name</ion-label>
      <ion-input type="text" formControlName="nickName"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('nickName') && isFormSubmitted()">
      Nick Name is required
    </div>
    <ion-item>
      <ion-label floating>Mobile No.</ion-label>
      <ion-input type="number" formControlName="mobileNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('mobileNo') && isFormSubmitted()">
      Mobile number is required. Should be 11 characters
    </div>
    <ion-item>
      <ion-label floating>Landline No.</ion-label>
      <ion-input type="number" formControlName="landlineNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('landlineNo') && isFormSubmitted()">
      Landline number is required. Should be 7 characters
    </div>
    <ion-item>
      <ion-label floating>TIN</ion-label>
      <ion-input type="text" formControlName="tin"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('tin') && isFormSubmitted()">
      TIN is required
    </div>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('email') && isFormSubmitted()">
      Email is required
    </div>
    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthDate"></ion-datetime>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('birthDate') && isFormSubmitted()">
      Date of Birth is required
    </div>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option *ngFor="let gender of genders" value="{{gender.key}}">{{gender.description}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('gender') && isFormSubmitted()">
      Gender is required
    </div>
    <ion-item>
      <ion-label>Civil Status</ion-label>
      <ion-select formControlName="civilStatus">
        <ion-option *ngFor="let civilStatus of civilStatuses">{{civilStatus}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('civilStatus') && isFormSubmitted()">
      Civil Status is required
    </div>
    <ion-item>
      <ion-label floating>Spouse</ion-label>
      <ion-input type="text" formControlName="spouse"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('spouse') && isFormSubmitted()">
      Spouse is not valid
    </div>
    <ion-item>
      <ion-label>Agent Type</ion-label>
      <ion-select formControlName="agentType">
        <ion-option *ngFor="let agentType of agentTypes" value="{{agentType.key}}">{{agentType.description}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('agentType') && isFormSubmitted()">
      Agent type is required
    </div>

    <ion-item-group class="address-group">
      <ion-item-divider class="jgs-item-divider">Home Address</ion-item-divider>
      <ion-item>
        <ion-label floating>Lot No.,Street,Subd.</ion-label>
        <ion-input type="text" formControlName="homeAddressLine1"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeAddressLine1') && isFormSubmitted()">
        Address Line 1 is required. Minimum of 10 characters
      </div>
      <ion-item>
        <ion-label floating>Apt/Suite/Floor/Room No.</ion-label>
        <ion-input type="text" formControlName="homeAddressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Barangay</ion-label>
        <ion-input type="text" formControlName="homeBarangay"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeBarangay') && isFormSubmitted()">
        Barangay is required. Minimum of 5 characters
      </div>
      <ion-item>
        <ion-label floating>Province</ion-label>
        <ion-select formControlName="homeProvince">
          <ion-option *ngFor="let province of provinces">{{province.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeProvince') && isFormSubmitted()">
        Province is required
      </div>
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-select formControlName="homeCity">
          <ion-option *ngFor="let city of homeCities">
            {{city.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homeCity') && isFormSubmitted()">
        City is required
      </div>
      <ion-item>
        <ion-label floating>Postal/ZIP Code</ion-label>
        <ion-input type="number" formControlName="homePostalCode"></ion-input>
      </ion-item>
      <div class="alert alert-danger" *ngIf="!isFieldValid('homePostalCode') && isFormSubmitted()">
        Postal/Zip code is required. Should be 4 characters
      </div>
    </ion-item-group>

    <button ion-button type="submit" block>Submit</button>
  </ion-list>
</form>