<!--
  Generated template for the ViewCommissionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>View Commissions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="info">
        Buyer's Information
      </ion-segment-button>
      <ion-segment-button value="lots">
        Lots
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="option">
    <ion-list *ngSwitchCase="'info'">
      <ion-item>
        <ion-label floating>ID</ion-label>
        <ion-input readonly="true" value="{{ buyerID }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input readonly="true" value="{{ firstName }}"></ion-input>
      </ion-item>
      <ion-item>SEC
        <ion-label floating>Middle Name</ion-label>
        <ion-input readonly="true" value="{{ middleName }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input readonly="true" value="{{ lastName }}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'lots'">
      <ion-item *ngFor="let lot of lots">
        <p>
          <span>Lot Type: {{ lot.lotType }}</span>
          <span>PH {{ lot.phase }}</span>
          <span>BLK {{ lot.block }}</span>
          <span>SEC {{ lot.section }}</span>
          <span>LOT {{ lot.lotNo }}</span>
        </p>
        <p>Lot Price: {{ lot.lotPrice }}</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>