<!--
  Generated template for the AddPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Add Lot Payment</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <lot-payment-form-component [lot]="lot" [buyer]="buyer"></lot-payment-form-component>
</ion-content>