<!--
  Generated template for the AgentInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{firstName}} {{middleName}} {{lastName}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="info">
        Personal Info
      </ion-segment-button>
      <ion-segment-button value="commissions">
        Commissions
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="option">
    <agent-form *ngSwitchCase="'info'" [showAgentID]="true" [agent]="agent"></agent-form>
    <ion-list *ngSwitchCase="'commissions'">
      <!-- @TODO: create commissions component -->
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th *ngIf="!isApp">Date</th>
            <th>Buyer</th>
            <th>Lot</th>
            <th>Amount Paid</th>
            <th *ngIf="!isApp">Payment For</th>
            <th *ngIf="!isApp">CV No.</th>
            <th *ngIf="!isApp">Check No.</th>
            <th *ngIf="!isApp">Paid Commission</th>
            <th *ngIf="!isApp">Date Received</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commission of commissions" [ngClass]="{'table-success': !commission.cvNo}">
            <td><input type="checkbox" [disabled]="commission.cvNo" /></td>
            <td *ngIf="!isApp" [innerHTML]="commission.paymentDate"></td>
            <td [innerHTML]="commission.buyerName"></td>
            <td [innerHTML]="commission.lot"></td>
            <td [innerHTML]="commission.amountPaid"></td>
            <td *ngIf="!isApp" [innerHTML]="commission.paymentFor"></td>
            <td *ngIf="!isApp" [innerHTML]="commission.cvNo"></td>
            <td *ngIf="!isApp" [innerHTML]="commission.checkNo"></td>
            <td *ngIf="!isApp" [innerHTML]="commission.commPaid"></td>
            <td *ngIf="!isApp" [innerHTML]="commission.dateReceived"></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-lg btn-primary">Process</button>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
