page-home {
    .dashboard-content {
        margin-top: 40px;

        .col div {
            background-color: #f0f5ff;
            border: 1px solid #e6e9ee;
            border-radius: 2px;
            padding: 5px;
            text-align: center;

            &.cash-position {
                background-color: $emerald;
                border: 1px solid $keppel;
            }
        }
    }
}
