<!-- @TODO: menu should be present on every page (make into a reusable component) (header component)-->
<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let menuItem of menuItems" (click)="openPage(menuItem.page)" [disabled]="isItemDisabled(menuItem)">
        {{menuItem.label}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar class="jgs-navbar">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      <ion-title>Dashboard</ion-title>
    </button>
    <div *ngIf="user" text-right>
      <button ion-button color="dark" (click)="openOptions()">
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cash-position">
          Cash Position (as of {{now}})
        </div>
        <ion-row>
          <ion-col col-6>
            <div> Sales </div>
          </ion-col>
          <ion-col col-6>
            <div> Commissions </div>
          </ion-col>
          <ion-col col-6>
            <div> Labor Requests </div>
          </ion-col>
          <ion-col col-6>
            <div> Purchase Requests </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>