<!-- Generated template for the LotPaymentFormComponent component -->
<form [formGroup]="rForm" (ngSubmit)="submitForm(rForm.value)" #addLotPaymentForm="ngForm">
  <ion-list>
    <ion-item-group>
    <ion-item-divider color="light">Buyer's Information</ion-item-divider>
      <ion-item>
        <ion-label fixed>Buyer ID</ion-label>
        <ion-input [readonly]="true" [innerHTML]="buyer.buyerID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Buyer</ion-label>
        <ion-input [readonly]="true" [innerHTML]="buyer | fullName"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
    <ion-item-divider color="light">Lot Description</ion-item-divider>
      <ion-item>
        <ion-label fixed>Lot ID</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.lotID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Lot Type</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.lotType"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Phase</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.phase"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Block</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.block"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Section</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.section"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Lot No.</ion-label>
        <ion-input [readonly]="true" [innerHTML]="lot.lotNo"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item>
      <ion-label floating>Transaction</ion-label>
      <ion-select formControlName="transactionType">
        <ion-option *ngFor="let data of transactionTypes" value="{{data.key}}">{{data.description}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('transactionType') && isFormSubmitted()">
      Transaction type is required
    </div>
    <ion-item>
      <ion-label floating>Payment Mode</ion-label>
      <ion-select formControlName="paymentMode">
        <ion-option *ngFor="let paymentMode of paymentModes" value="{{paymentMode.key}}">{{paymentMode.value}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('paymentMode') && isFormSubmitted()">
      Payment mode is required
    </div>
    <ion-item *ngIf="cashPayment">
      <ion-label floating>OR No.</ion-label>
      <ion-input type="text" formControlName="orNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="cashPayment && !isFieldValid('orNo') && isFormSubmitted()">
      OR No. is required
    </div>
    <ion-item *ngIf="checkPayment">
      <ion-label floating>Bank</ion-label>
      <ion-input type="text" formControlName="bank"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="checkPayment && !isFieldValid('bank') && isFormSubmitted()">
      Bank is required
    </div>
    <ion-item *ngIf="checkPayment">
      <ion-label floating>Check No.</ion-label>
      <ion-input type="text" formControlName="checkNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="checkPayment && !isFieldValid('checkNo') && isFormSubmitted()">
      Check No. is required
    </div>
    <ion-item *ngIf="checkPayment">
      <ion-label floating>PR No.</ion-label>
      <ion-input type="text" formControlName="prNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="checkPayment && !isFieldValid('prNo') && isFormSubmitted()">
      PR No. is required
    </div>
    <ion-item>
      <!-- @TODO:  pre populated based on transaction type -->
      <ion-label floating>Amount</ion-label>
      <ion-input type="text" formControlName="amount"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('amount') && isFormSubmitted()">
      Amount is required. Minimum of six characters
    </div>
  </ion-list>

  <button ion-button round>Submit</button>
</form>