<!-- Generated template for the UserHeaderComponent component -->
<div>
  <button ion-button color="dark" (click)="openOptions()">
    <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
  </button>
</div>