<!-- Generated template for the BuyerInfoComponent component -->
<ion-item-group>
  <ion-item-divider color="light">Buyer's Information</ion-item-divider>
  <ion-item>
    <ion-label fixed>Buyer ID</ion-label>
    <ion-input [readonly]="true" [innerHTML]="buyer.buyerID"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Buyer</ion-label>
    <ion-input [readonly]="true" [innerHTML]="buyer | fullName"></ion-input>
  </ion-item>
</ion-item-group>