<!--
  Generated template for the LotsInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="jgs-navbar">
    <ion-title>Lot Details</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>
  <ion-item>
    <button ion-button item-right round (click)="openAddPayment()">Payment</button>
  </ion-item>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="info">
        Lot Information
      </ion-segment-button>
      <ion-segment-button value="payments">
        Payment History
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="option">
    <lot-info-form *ngSwitchCase="'info'" [lot]="lot" [buyer]="buyer"></lot-info-form>
    <payment-history-form *ngSwitchCase="'payments'"></payment-history-form>
  </div>

</ion-content>