<!-- Generated template for the LotInfoFormComponent component -->
  <ion-item-group>
    <ion-item-divider color="light">Buyer's Information</ion-item-divider>
    <ion-item>
      <ion-label fixed>Buyer ID</ion-label>
      <ion-input [readonly]="true" [innerHTML]="buyer.buyerID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Buyer</ion-label>
      <ion-input [readonly]="true" [innerHTML]="buyer | fullName"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Lot Description</ion-item-divider>
    <ion-item>
      <ion-label fixed>Lot ID</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.lotID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Lot Type</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.lotType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Phase</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.phase"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Block</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.block"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Section</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.section"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Lot No.</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.lotNo"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Price Information</ion-item-divider>
    <ion-item>
      <ion-label fixed>Lot Price</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.lotPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>PCF</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.pcf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Total</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.totalPrice"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Agent's Information</ion-item-divider>
    <ion-item>
      <ion-label fixed>Agent ID</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot.agentID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Agent</ion-label>
      <ion-input [readonly]="true" [innerHTML]="lot | fullName"></ion-input>
    </ion-item>
  </ion-item-group>