<!--
  Generated template for the LotsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Lots</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>
  <ion-item>
    <button ion-button item-right round (click)="openAddLotInventory(lot)">
      <ion-icon name="md-add-circle"></ion-icon>
    </button>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let lot of lots">
      <p [innerHTML]="lot.lotID"></p>
      <h2>
        <span>Lot Type: {{ lot.lotType }}</span>
        <span>PH {{ lot.phase }}</span>
        <span>BLK {{ lot.block }}</span>
        <span>SEC {{ lot.section }}</span>
        <span>LOT {{ lot.lotNo }}</span>
      </h2>
      <h2>Lot Price: {{ lot.lotPrice }}</h2>
      <button ion-button clear item-end (click)="openLotInventory(lot)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>