<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Buyers</ion-title>
    <ion-buttons right>
      <user-header-component></user-header-component>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-buttons right>
    <button color="secondary" ion-button icon-left (click)="openAddBuyer()">
      <ion-icon name="person-add"></ion-icon> Add Buyer
    </button>
  </ion-buttons>
  <ion-searchbar [(ngModel)]="searchString" [showCancelButton]="true" (ionInput)="onInput($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let buyer of buyers">
      <ion-avatar item-start *ngIf="buyer.photo">
        <img [src]="buyer.photo">
      </ion-avatar>
      <ion-icon *ngIf="!buyer.photo" name="person" large item-start></ion-icon>
      <p [innerHTML]="buyer.buyerID"></p>
      <h2 [innerHTML]="buyer | fullName"></h2>
      <button ion-button clear item-end (click)="openBuyerInfo(buyer)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>