<!--
  Generated template for the AddAgentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="jgs-navbar">
    <ion-title>Add New Agent</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <agent-form [showAgentID]="false"></agent-form>
</ion-content>