<!-- Generated template for the LotFormComponent component -->
<!-- @TODO: Lot No. should come from DB (To make sure lot is available) (if on add buyer lot page) -->
<!-- @TODO: Don't allow adding of duplicate records -->
<form [formGroup]="rForm" (ngSubmit)="submitForm(rForm.value)" #lotForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label floating>Lot Type</ion-label>
      <ion-select formControlName="lotType">
        <ion-option *ngFor="let data of lotTypes" value="{{data.key}}">{{data.description}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('lotType') && isFormSubmitted()">
      Lot type is required
    </div>
    <ion-item>
      <ion-label floating>Phase</ion-label>
      <ion-select formControlName="phase">
        <ion-option *ngFor="let phase of phases">{{phase}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('phase') && isFormSubmitted()">
      Phase is required
    </div>
    <ion-item>
      <ion-label floating>Block</ion-label>
      <ion-select formControlName="block">
        <ion-option *ngFor="let block of blocks">{{block}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('block') && isFormSubmitted()">
      Block is required
    </div>
    <ion-item>
      <ion-label floating>Section</ion-label>
      <ion-input type="text" formControlName="section"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('section') && isFormSubmitted()">
      Section is required. Maximum of 2 characters
    </div>
    <ion-item>
      <ion-label floating>Lot No.</ion-label>
      <ion-input type="number" formControlName="lotNo"></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('lotNo') && isFormSubmitted()">
      Lot no. is required. Maximum of 2 characters
    </div>
    <ion-item *ngIf="showAgent">
      <ion-label floating>Agent</ion-label>
      <ion-select formControlName="agentID">
        <ion-option *ngFor="let agent of agents" value="{{agent.agentID}}">{{agent.firstName}} {{agent.middleName}} {{agent.lastName}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="alert alert-danger" *ngIf="!isFieldValid('agent') && isFormSubmitted()">
      Agent is required
    </div>

    <button ion-button type="submit" block>Submit</button>
  </ion-list>
</form>